
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    background-size: 100%;
    background-color: #ffffff;

}

body::-webkit-scrollbar{
  display: none;
}

.nav{
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:  #0b3c33;

}

.logo{
    font-size: 2em;
    color: #fff;
    margin-right: 150px;
    pointer-events: none;
}

.navigation a{
    text-decoration: none;
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    
}

.navigation a:hover, 
.navigation a.active{
    background: black;
    color: #fff;

}




/* ===================================first-body=========================================== */
.container {
    position: relative;
    text-align: center;
 
    height: 700px;
    background-color: #3593822b;
  }

  .image {
    position: absolute;
  }


  #image1 {
    top: 5%;
    left: 20%;
  }

  #image2 {
    top: 5%;
    right: 10%;
  }

  #image3 {
    bottom: 5%;
    left: 3%;
  }

  #image4 {
    bottom: 15%;
    right: 3%;
  }

  #image5 {
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
  }

  #image6 {
    top: 80%;
    right: 28%;
    transform: translate(50%, -50%);
  }

  h1 {
    position: absolute;
    z-index: 100;
    font-size: 24px;
    margin-top: 350px;
    margin-left:330px;
    font-size: 50px;
    font-family: sofia;
  }


 .img1{
    width: 180px;
    height: 200px;
    border-radius: 10px;
 }

 .img2{
    width: 286px;
    height: 300px;
    border-radius: 10px;

 }

 .img5{
  width: 131px;
  height: 124px;
  border-radius: 10px;
 }
 .img4{
  width: 185px;
  height: 195px;
  border-radius: 10px;
 }
 .img3{
  width: 266px;
  height: 232px;
  border-radius: 10px;
 }
 .img6{
  width: 234px;
  height: 200px;
  border-radius: 10px;
 }



 /* =========================footer=============================== */
.footer-main{
    background-color: #0b3c3376;
    height: 80px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    }
    
    .footer{
        width: 50%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        font-weight: bold;
     
        
    }
    
    .footer a{
        text-decoration: none;
        color: #fff;
        font-size: small;
    }
    
    .footer li{
        list-style-type: none;
    }
    
    .footer li:hover{
        color: black;
    }
    
    