@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0b3c33;
    min-height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #ffffff;
    margin-right: 150px;
    pointer-events: none;
}


.navigation a{
    text-decoration: none;
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    
}

.navigation a:hover, 
.navigation a.active{
    background: #359381;
    color: #fff;

}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    overflow-y: hidden;
}

.parallax::-webkit-scrollbar{
    display: none;
}

#text{
    position: absolute;
    font-size: 4em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .9);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

}

/* ========================title=========================== */
.card-main{
    background-color: #359382d7;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


.cards{
display: flex;
align-items: center;
justify-content:center;
}

.cards-sub{
    display: flex;
align-items: center;
justify-content: space-evenly;
}

.title{
font-size: 3em;
font-family: Sofia;
}



/* =========================================SECOND BODY=========================== */
.second-body{
    background-color: #359381;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.second-body-cards{
    height: 85%;
    width: 25%;
    background-color: #0b3c33;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.s-b-head{
  font-size: 20px;
  font-weight: bold;

}

/* .s-b-para{
    color: #fff;
} */


/* ==============================3rd body============================== */
.third-body{
    background-color: #359382d7;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-body-btn{
    margin-top: 20px;
    padding: 10px;
    background-color: #359381;
    font-weight: bold;
    border: 0px;
}

.third-body-btn:hover{
   background-color: #0b3c33;
   color: white;
}


/* ====================article======================== */
.article{
    background-color: #359381;
    height: 580px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.article-sub{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

/* =========================footer=============================== */
.footer-main{
background-color: #0b3c33;
height: 80px;
display: flex;
justify-content:space-evenly;
align-items: center;

}

.footer{
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-weight: bold;
 
    
}

.footer a{
    text-decoration: none;
    color: #fff;
    font-size: small;
}

.footer li{
    list-style-type: none;
}

.footer li:hover{
    color: #359381;
}



/* ============================ */

