
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    background-image:linear-gradient(to right,rgba(8, 56, 2, 0.655),rgba(0, 77, 14, 0.7)),url('JVR-PARK.jpg');
    background-size: 100%;
}

body::-webkit-scrollbar{
  display: none;
}

.nav{
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:  #0b3c3376;

}

.logo{
    font-size: 2em;
    margin-right: 150px;
    pointer-events: none;
    color: #fff;
}

.navigation a{
    text-decoration: none;
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    
}

.navigation a:hover, 
.navigation a.active{
    background: black;
    color: #fff;

}




/* ============================================================================== */
.form-section{
    width: 20%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 10%;
    margin-left: 38%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 160, 107);

}


#span-1,#span-1a,#span-2,#span-3,#span-2a,#span-3a{
    display: none;
    color: red;
}

input{
    border: 0px;
    background-image: linear-gradient(to right,rgba(8, 56, 2, 0.708),rgba(0, 77, 14, 0.7));
    outline: none;
    height: 40px;
    width: 200px;
    text-align: center;
 }


 button{
    height: 40px;
    width: 150px;
    border: 0px;
    background-image: linear-gradient(to right,rgba(8, 56, 2, 0.708),rgba(0, 77, 14, 0.7));
    outline: none;
    cursor: pointer;
    
 }

 input::placeholder{
    text-align: center;
    color: black;
 }


 

 /* =========================footer=============================== */
.footer-main{
    background-color: #0b3c3376;
    height: 80px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 10%;
    }
    
    .footer{
        width: 50%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        font-weight: bold;
     
        
    }
    
    .footer a{
        text-decoration: none;
        color: #fff;
        font-size: small;
    }
    
    .footer li{
        list-style-type: none;
    }
    
    .footer li:hover{
        color: black;
    }
    
    